html,
body {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #FAFAFA;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
